table
{
	border-collapse: collapse;
	background-color: lightblue;
	width: 50%;
	margin-top: 15px;
}
.input
{
	width: 70%;
	height: 30px;
}
.input:hover
{
	background-color:skyblue;
}
.item
{
	width: 20%;
}
.submit
{
color: white;
background-color: skyblue;
height: 28px;
display: block;
}